<!DOCTYPE html>
<html>
    <head>
        <title>Feed</title>
        <link rel="icon" href="../images/logo.png">
    </head>
    <body>
        <link rel="stylesheet" href="feedstyles.css">
        <nav class="header">
            <div class="logo">
                <a href="/">
                    <img src="../images/logo.png">
                </a>
            </div>
            <div class="searchbar">
                <input placeholder="Search..." type="search" class="input">
            </div>
            <ul class="headerlinks">
                <li class="links"><a href="/createpost">Create Post</a></li>
                <li class="links"><a href="/">Log Out</a></li>
            </ul>
        </nav>
        <div class="mainbody">
            <div class="sidebar">
                <div class="profile">
                    <img src="../images/default-profile.png" alt="Profile Picture">
                    <a href = "/profile">
                        <span class="username">Username</span>
                    </a>
                </div>
                <button class = "sidebar-button" id = "home-button"> Home </button>
                <button class = "sidebar-button" id = "tagfilter-button"> Tag Filter </button>
            </div>
            <div class="feed">
                <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="post">
                            <div class="poster">
                                <img src="../images/default-profile.png" alt="Profile Picture" class="poster-pfp">
                                <a href="/post/<%= post.postId %>" class="poster-username">Username</a>
                            </div>
                            <div class="postcontent">
                                <div class="content-header">
                                    <ul class="tags">
                                        <li style="background-color: #5271ff;">coding</li>
                                        <li style="background-color: #ff6347;">webdev</li>
                                        <li style="background-color: #32cd32;">informative</li>
                                    </ul>
                                </div>
                                <div class="below-header">
                                    <h2 class="post-title"><%= post.title %></h2> 
                                    <div class="date-posted"><%= post.date_posted.toDateString() %></div>
                                </div>
                                <div class="post-body">
                                    <% if (post.content_type === "text") { %>
                                        <p><%= post.content %></p>
                                    <% } else if (post.content_type === "image") { %>
                                        <img src="/uploads/<%= post.content %>" alt="Post Image">
                                    <% } else if (post.content_type === "video") { %>
                                        <iframe width="560" height="315" src="<%= post.content %>" frameborder="0" allowfullscreen></iframe>
                                    <% } else if (post.content_type === "link") { %>
                                        <a href="<%= post.content %>" target="_blank"><%= post.content %></a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="post-separator"></div>
                    <% }) %>
                <% } else { %>
                    <p>No posts available</p>
                <% } %>
            </div>
        </div>
    </body>
</html>