<html>
    <head>
        <title>Posts</title>
        <link rel="icon" href="../images/logo.png">
        <link rel="stylesheet" href="/poststyles.css">
    </head>

    <body>
        <nav class = "header">
            <div class = "logo">
                <a href = "/">
                    <img src = "../images/logo.png">
                </a>
            </div>
            <div class = "searchbar">
                <input placeholder="Search..." type = "search" class = "input">
            </div>
            <ul class = "headerlinks">
                <li class = "links"><a href = "#">Chat</a></li>
                <li class = "links"><a href = "/">Log Out</a></li>
            </ul>
        </nav>

        <hr style="border: 0; height: 1px; background: white;">

        <div class="mainbody">

            <div class="sidebar">
                <div class="profile">
                    <img src="../images/default-profile.png" alt="Profile Picture">
                    <span class="username">Username</span>
                </div>

                <button class = "sidebar-button" id = "home-button"> Home </button>
                <button class = "sidebar-button" id = "tagfilter-button"> Tag Filter </button>
            </div>

            <div class = "content">

                <a href="/home" class="return">⬅ Return</a>

                <div class = "profilepost" id = "poster">
                    <img src="../images/default-profile.png" alt="Profile Picture">
                    <span class="username">Poster</span>
                </div>

                <div class="post">
                    <div class="post-header">
                        <ul class="tags">
                            <li style="background-color: #5271ff;">coding</li>
                            <li style="background-color: #ff6347;">webdev</li>
                            <li style="background-color: #32cd32;">informative</li>
                        </ul>
                    </div>
                    <div class="below-header">
                        <h2 class="post-title"><%= post.title %></h2> 
                        <div class="date-posted"><%= post.date_posted.toDateString() %></div>
                    </div>
                    <div class="post-content">
                        <% if (post.content_type === "text") { %>
                            <p><%= post.content %></p>
                        <% } else if (post.content_type === "image") { %>
                            <img src="/uploads/<%= post.content %>" alt="Post Image">
                        <% } else if (post.content_type === "video") { %>
                            <iframe width="560" height="315" src="<%= post.content %>" frameborder="0" allowfullscreen></iframe>
                        <% } else if (post.content_type === "link") { %>
                            <a href="<%= post.content %>" target="_blank"><%= post.content %></a>
                        <% } %>
                    </div>
                </div>

                <div class = "reaction">
                    <button> 🔼 </button>
                    <button> 🔽 </button>
                    <button> 💬 </button>
                </div>

                <div class="comment_section">
                    <% if (comments.length === 0) { %>
                        <p>No comments yet.</p>
                    <% } else { %>
                        <% comments.forEach(comment => { %>
                            <div class="comment">
                                <div class="commenter">
                                    <img src="../images/default-profile.png" alt="Profile Picture">
                                    <div class="commenter"><%= comment.username %></div>
                                </div>
                                <div class="comment-text"><%= comment.text %></div>
                                <div class="comment-date"><%= comment.date_posted.toDateString() %></div>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                

            </div>
        </div>
    </body>
</html>